<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /htdocs/walljokey/project/rezky/Pemesanan_Hotel/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ route.php?route=$1 [QSA,L]
</IfModule>